:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #ffffff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

.wrapper{
  max-width:500px;
  margin: 0 auto;  
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 { 
  font-size: var(--font-size-xxl);
  font-weight: normal;
  margin-bottom: 0;
}

h2 { 
  font-size: var(--font-size-xl);
  text-align: center;
}

h3 { 
  font-size: var(--font-size-lg);
}

h4 { 
  font-size: var(--font-size-md);
  font-weight: normal;
}

p { 
  font-size: var(--font-size-base);
}

#header div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  header img{
    width: 15em;
    padding-left: 0;
  }

footer {
  font-size: var(--font-size-sm);
  text-align: center;
}

nav ul {
  display: flex;  
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0;
}

nav ul li {
    padding-left: 1.5em;
    text-transform: uppercase;
    font-size: var(--font-size-md);
  }
  

nav ul li a:link,
nav ul li a:visited {
  color: #000;
  text-decoration: none;
}

#header,
#products,
#behind-the-dough, 
#people-saying,
#try-it,
#footer{
    padding:4em;
}

#header,
#products,
#try-it{
   border-bottom: .25em solid #e7e7e7;
}

.product-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 1.5em;
}

.product-shot img {
  width: 100%;
  max-width: 100%;
  gap: 1.5em;
}

.product-image-1 {
  grid-column: 1 / span 3;
}

.product-shot img{
  border-radius: 5px;
}

.limited-edition{
text-transform: uppercase;
font-weight: bold;
}

.button{
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  max-width:150px;
  padding: .5em .5em;
  text-align: center;
}

#people-saying{
  background-color: #000000;
  color: #ffffff;
}

#people-saying p{
  font-style: italic;
}

.cookie-flavours{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4em;
  gap: 1em;
}

.cookie-flavours article{
  background-color: #e7e7e7;
  border-radius: 20px;

  text-align:center;
}

.cookie-flavours img{
  border-radius: 20px 20px 0 0;
  width: 40em;
}

.cookie-flavours h3{
  margin-bottom: 0;
}

.cookie-flavours h4{
  margin-top: 0;
}




@media (min-width: 768px) {

  .product-shot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    gap: 1.5em;
  }
  
  .product-shot img{
    border-radius: 5px;
  }

  .wrapper{
    max-width:100%;
    margin: 0 auto; 
  }

  .cookie-flavours {
     grid-template-columns: repeat(4, 1fr)
    }

  #behind-the-dough{
    text-align: center;
  }

  #behind-the-dough p{
    width: 30%;
    display: inline-block;
  }
  
  #people-saying{
    text-align: center;
  }

  #people-saying blockquote{
    width: 20%;
    display: inline-block;
  }
}



@media (min-width: 960px) {

  #products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    gap: 1.5em;
    width: 100%;
  }
  
  .product-shot {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    max-width: 100%;
    gap: 1.5em;
    margin-top: 1.5em;
  }

  .product-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin-top: 1.5em;
    width: 35em;
  }
  
  .product-shot img {
    width: 100%;
    gap: 1.5em;
  }

   #behind-the-dough{
    text-align: center;
  }

   #behind-the-dough p{
    width: 30%;
    display: inline-block;
    text-align: left;
    gap: 1.5em;
  }
  
  #people-saying{
    text-align: center;
  }

  #people-saying blockquote{
    width: 20%;
    display: inline-block;
    text-align: left;
  }
}


